/* NAV BAR */
#nav_bar {
  float: right;
  text-align: right;
}

#nav_bar li {
  display: inline-block;
  padding: 8px;
}

.nav-links {
  color: blue;
}

/* Google */
h1 {
  text-align: center;
  padding-top: 200px;
}

h6 {
  text-align: center;
  padding: 0 0 0 150px;
  color: blue;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

#orange {
  color: orange;
}

#green {
  color: green;
}

/* FORM */

.form {
  text-align: center;
}

#search_bar { 
  width: 450px;
  line-height: 32px;
  padding: 20px 100px;
  border-radius: 30px;
  padding: 0 8px;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

#search, #lucky_search {
  margin-left: 10px;
  padding: 5px;
}

#adv_search {
  background-color: blue;
  color: white;
  text-align: left;
  margin-top: 20px;
  padding: 5px;
}

tr td {
  padding: 8px;
}